{% extends '::base.html.twig' %}
{% block title %} Vista desde main {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="logout">
        <form action="{{url('modulomonitores_monitores_homeMonitores')}}">
            <button>Log out</button>
        </form>
    </div>
    <div class="perfil">
        <form>
            <button>Perfil</button>
        </form>
    </div>
{% endblock %}

{% block navegation %}
    <ul>
        <li><a href="#">Entrenamiento</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div id="pagina" class="cfix">
        <div id ="contenido">
            {% block contenido %}
            {% endblock %}
        </div>

    </div>

{% endblock %}