{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block navegation %}{% endblock %}
{% block title %}Redirecting{% endblock %}
{% block body %}
    <div class="container" >
        {% if app.user.tipo == 1 %}
            <form id="formu" action="{{ path('crivero_prueba_clientes') }}" method="post">
            </form>
        {% elseif app.user.tipo == 2 %}
            <form id="formu" action="{{ path('moduloclientes_cliente_homeCliente') }}" method="post">
            </form>
        {% else %}
            <form id="formu" action="{{ path('modulomonitores_monitores_homeMonitor') }}" method="post">
            </form>
        {% endif %}
        <img src="{{ asset('images/loading.gif') }}" class="centradoV" style="width: 10%; top: 50%" />
    </div>

    <script type="text/javascript">
        setTimeout(function () {
            document.getElementById("formu").submit();
        }, 2000);
    </script>
{% endblock %}