{% extends 'moduloclientesclienteBundle::main.html.twig' %}

{% block title %} Vista de mis equipos {% endblock %}             
{% block contenido %}
    {%for equipo in equipos if equipo%}
        <a href="{{url('moduloclientes_cliente_equipoClientes', {'id': equipo.id})}}">{{equipo.nombre}}</a>
    {%endfor%}
{% endblock %}