* {
	margin:0;
	padding:0;
}

.main {
	width:70%;
	max-width:1000px;
	margin:20px auto;
}


.slides {
	width:100%;
}

.slides img {
	width:100%;
        border-radius: 4px;
}

.slidesjs-pagination {
	background: rgba(255, 255, 255, 0.5);
	list-style:none;
	overflow:hidden;
        border-radius: 2px;
}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
        text-shadow: 1px 1px 1px #333;
}

.slidesjs-pagination li a:hover {
	background:#2484a5;
}

.slides .active {
	background:#2484a5;
}

.slidesjs-navigation{
	background:rgba(255, 255, 255, 0.5);
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float:right;
        border-radius: 2px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   position: absolute; 
   top: 260px; 
   left: 0; 
   width: 100%; 
}

h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgba(0, 0, 0, 0.15); /* fallback color */
   padding: 10px; 
   border-radius: 2px;
}

.nothing {
   position: initial !important; 
   left: 0; 
   top: 0 !important;
   width: 100%; 
   margin-top: 0;
}