{% extends '::base.html.twig' %}
{% block title %} Vista desde main {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block navegation %}
        <ul>
		<li><a href="{{url('crivero_prueba_clientes')}}">Clientes</a></li>
		<li><a href="{{url('crivero_prueba_monitores')}}">Monitores</a></li>
		<li><a href="#">Canchas</a></li>
		<li><a href="#">Contacto</a></li>
	</ul>
{% endblock %}
{% block body %}
    <div id="pagina" class="cfix">
        <div id ="contenido">
            {% block contenido %}
            {% endblock %}
        </div>
    
    </div>
            
{% endblock %}