{% extends 'CriveroPruebaBundle::main.html.twig' %}
{% block title %}Vista de {{alumno.nombre}} {% endblock %}
{% block contenido %}
<h1>Detalles del Alumno</h1>
<div>{{alumno.matricula}} - {{alumno.nombre}}</div>
{% endblock %}