{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Clientes {% endblock %}

{% block contenido %}
<h1>Listado de Clientes</h1>
    <div class="nuevoCliente">
        <a href="{{path('crivero_prueba_nuevo')}}" class="btn btn-success" style="height: 30px; width: 150px;">Nuevo Cliente <span class="glyphicon glyphicon-plus"></span></a>
    </div>
{% for usuario in usuarios %}
    {% if usuario.tipo==2 %}
        <div>
            <a href="{{url('crivero_prueba_cliente', {'id': usuario.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ usuario.nombre }} </a>
        </div>
        
    {% endif %}
{% endfor %}

{% endblock %}