{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %}Vista de {{equipo.nombre}} {% endblock %}
{% block contenido %}
    <div class="container text-center">
        <h2>Detalles del Equipo</h2>
        {% block detalles %}
            {% if equipo.deporte == "Fútbol" %}
                <h3>Ver información de los miembros</h3>
                <p>{{equipo.miembros}}</p>
            {% endif %} 
        {% endblock %}
    </div>
{% endblock %}
