{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">#}
{% endblock %}

{% block title %}Login{% endblock %}
{% block navegation %}{% endblock %}

{% block contenido %}

    <div class="container">
        <form action="{{ path('crivero_prueba_login_check') }}" method="post" class="form-signin">
         <h2 class="form-signin-heading">Inicia de Sesión</h2>

                {% if error %}
                  <div class="text-danger">
                      <p>
                          <h4>
                              {{ error.messageKey|trans(error.messageData, 'security') }}
                          </h4>
                      </p>
                  </div>
                  {% endif %}

            <label for="username" class="sr-only">Usuario:</label>
            <input type="text" id="username" class="form-control" name="_nombre" value="{{last_username}}" placeholder="" required autofocus />

            <label for="password" class="sr-only">Password:</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="" required />
                          <input type="hidden" name="_target_path" value="crivero_prueba_home" />

            <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        </form>
    </div> <!-- /container -->
{% endblock %}