{# empty Twig template #}
{# empty Twig template #}
{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %} Vista de Monitores {% endblock %}

{% block contenido %}

<h1>Listado de Monitores</h1>
{% for usuario in usuarios %}
    {% if usuario.tipo==3 %}
        <a href="{{url('crivero_prueba_monitor', {'id': usuario.id})}}" class="fila {{cycle(["par","impar"], loop.index)}}"> {{ usuario.nombre }} </a>
    {% endif %}
{% endfor %}

{% endblock %}