{% extends 'CriveroPruebaBundle::main.html.twig' %}

{% block title %}Vista de {{sesion.nombre}} {% endblock %}
{% block contenido %}
    <h2>Detalles de la Sesion</h2>
    {% if sesion.estado == "Solicitud Presentada" %}
        <button>Aceptar Solicitud</button>
        <button>Rechazar Solicitud </button>
    {% endif %}
    
{% endblock %}